<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <header class="bg-blue-600 p-4 text-white text-center">
      <h1 class="text-3xl font-bold">My Blog</h1>
    </header>
    <main class="p-4">
      <div class="container mx-auto my-24">
        <h2 class="text-4xl font-bold mb-4">Blog Posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for post in posts %}
          <div class="bg-white p-4 rounded-lg shadow-md">
            <img
              src="{{ url_for('static', filename='images/' + post.url + '.webp') }}"
              alt="{{ post.title }}"
              class="w-full h-48 object-cover rounded-t-lg"
            />
            <h3 class="text-xl font-bold mt-4">{{ post.title }}</h3>
            <a
              href="{{ url_for('main.post', post_url=post.url) }}"
              class="text-blue-600 mt-2 block"
              >Read more</a
            >
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
    <footer class="bg-blue-600 p-4 text-white text-center mt-4">
      <p>&copy; 2024 My Blog</p>
    </footer>
  </body>
</html>
